<% if @results.none? %>
    <h3>No Results Found</h3>
<% else %>
    <ul>
    <% @results.each do |result| %>
        <li><%= form_with model: @booking, url: new_booking_path, method: :get, local: true do |f| %>
         <%= f.radio_button :booking, result.id  %>
        From: <%= result.from_airport.name %> '<%= result.from_airport.code %>' | To: <%= result.to_airport.name %> '<%= result.to_airport.code %>' | Date: <%= result.start %> | Duration: <%= result.duration %> minutes 
        <%= f.hidden_field(:passengers, :value => params[:flight] ? params[:flight][:passengers] : '0') %>
        <%= f.submit 'Select Flight' %>
        <% end %></li>
    <% end %>
    </ul>
<% end %>